# Bootstrapping the simulated RBD dataset

## Imports and setup

In [1]:
import pandas as pd
from polyclonal import Polyclonal, PolyclonalCollection
import polyclonal.polyclonal_collection as boot
import numpy as np

rbd_data = (
    pd.read_csv("../notebooks/RBD_variants_escape_noisy.csv", na_filter=None)
    .query('library == "avg2muts"')
    .query("concentration in [0.25, 1, 4]")
    .reset_index(drop=True)
)

rbd_data

        library   aa_substitutions  concentration  prob_escape    IC90
0      avg2muts                              0.25     0.050440  0.1128
1      avg2muts                              0.25     0.143100  0.1128
2      avg2muts                              0.25     0.054520  0.1128
3      avg2muts                              0.25     0.084730  0.1128
4      avg2muts                              0.25     0.041740  0.1128
...         ...                ...            ...          ...     ...
89995  avg2muts        Y396T Y473L           4.00     0.000000  0.5832
89996  avg2muts        Y421W S359K           4.00     0.044600  0.5777
89997  avg2muts  Y449L V503T L335M           4.00     0.000000  1.0520
89998  avg2muts  Y473E L518F D427L           4.00     0.002918  1.1600
89999  avg2muts        Y505N H519T           4.00     0.000000  0.3505

[90000 rows x 5 columns]

In [2]:
# Create a root polyclonal object
rbd_poly = Polyclonal(
    data_to_fit=rbd_data,
    activity_wt_df=pd.DataFrame.from_records(
        [
            ("1", 1.0),
            ("2", 3.0),
            ("3", 2.0),
        ],
        columns=["epitope", "activity"],
    ),
    site_escape_df=pd.DataFrame.from_records(
        [
            ("1", 417, 10.0),
            ("2", 484, 10.0),
            ("3", 444, 10.0),
        ],
        columns=["epitope", "site", "escape"],
    ),
    data_mut_escape_overlap="fill_to_data",
)

In [3]:
# Fit model
_ = rbd_poly.fit(logfreq=100)

# First fitting site-level model.
# Starting optimization of 522 parameters at Wed Feb 23 16:56:44 2022.
       step   time_sec       loss   fit_loss reg_escape  regspread
          0   0.048631     9144.4     9144.2    0.29701          0
        100     6.3463     1336.8     1333.2     3.5443          0
        200     12.488     1313.2     1308.8     4.3872          0
        300     18.944       1305     1299.8     5.1347          0
        400      24.83     1301.8     1296.2     5.6246          0
        500     30.785     1298.4     1292.5     5.8941          0
        600     36.821     1297.8     1291.7     6.0372          0
        700     43.116     1296.9     1290.4     6.5236          0
        800     49.112     1296.4     1289.8     6.6654          0
        900     55.105     1296.2     1289.4      6.759          0
       1000     61.119     1295.7     1288.8     6.8687          0
       1100     67.247     1295.4     1288.6      6.848          0
       1200     73.265     1295.1     1288.2     6.8787          0
       1300     79.308       1295     1288.1     6.8933          0
       1327      80.82       1295     1288.1     6.9079          0
# Successfully finished at Wed Feb 23 16:58:05 2022.
# Starting optimization of 5799 parameters at Wed Feb 23 16:58:05 2022.
       step   time_sec       loss   fit_loss reg_escape  regspread
          0   0.061249     1638.9     1552.6     86.331 2.0049e-29
        100     7.6275      840.1     742.48     86.054     11.569
        200       15.8        823      722.8     84.969     15.233
        300     23.623     814.93     715.01     81.327     18.598
        400     31.075     808.61     713.03     77.361     18.217
        500     38.301     797.44     707.43     71.416     18.591
        600     45.762      787.5      704.1     63.484     19.917
        700     53.255     779.41     701.56     57.656     20.192
        800     60.534     773.29     700.96     52.552     19.778
        900     67.573     767.01     698.89     47.897     20.223
       1000     74.695     763.29     697.22     45.818     20.245
       1100     83.167     757.65      693.1     43.495     21.052
       1200     91.661     752.35     687.89     42.401     22.058
       1300     99.179     746.77     680.45     42.599     23.722
       1400     107.23     741.09     673.02     43.167      24.91
       1500      114.9     735.39      664.1     44.328      26.96
       1600     122.33     728.43        654     45.503     28.927
       1700     129.44     723.22     645.61     46.896     30.714
       1800      136.7     713.76     632.49     48.549     32.715
       1900     144.06     696.67     611.33     50.353     34.985
       2000     152.17     681.55     596.14     50.859     34.555
       2100     159.81     670.83     583.91     51.702     35.218
       2200     167.31     666.81     579.38     52.268     35.168
       2300     174.77      665.7     578.31     52.536     34.853
       2400     182.64     665.33     577.91     52.736     34.683
       2500     190.52     665.16     577.76     52.881     34.528
       2600     198.39     665.08     577.66      52.95     34.467
       2634     201.14     665.06     577.64     52.976     34.452
# Successfully finished at Wed Feb 23 17:01:26 2022.

In [4]:
# Now create two different polyclonal collection objects
n_samps = 5
n_threads = 16
rbd_pc_a = PolyclonalCollection(
    root_polyclonal=rbd_poly,
    n_bootstrap_samples=n_samps,
    n_threads=n_threads,
    seed=0,
)
rbd_pc_b = PolyclonalCollection(
    root_polyclonal=rbd_poly,
    n_bootstrap_samples=n_samps,
    n_threads=n_threads,
    seed=10,
)

In [5]:
rbd_pc_a.fit_models()
rbd_pc_b.fit_models()

In [6]:
rbd_pc_a.models[1].mut_escape_df

     epitope  site wildtype mutant mutation  escape
0          1   331        N      A    N331A     0.0
1          1   331        N      D    N331D     0.0
2          1   331        N      E    N331E     0.0
3          1   331        N      F    N331F     0.0
4          1   331        N      G    N331G     0.0
...      ...   ...      ...    ...      ...     ...
5791       3   531        T      R    T531R     0.0
5792       3   531        T      S    T531S     0.0
5793       3   531        T      V    T531V     0.0
5794       3   531        T      W    T531W     0.0
5795       3   531        T      Y    T531Y     0.0

[5796 rows x 6 columns]

In [7]:
# The test for the mutation frequency dictionary isn't suitable here
# With so many multi-variants, we may not get situations where a mutation isn't sampled by all models
# For our seed tests, I will just make sure we get different summary stats for each seed.
(
    rbd_pc_a_escape_dict,
    rbd_pc_a_activity_wt_dict,
) = rbd_pc_a._summarize_bootstrapped_params()
(
    rbd_pc_b_escape_dict,
    rbd_pc_b_activity_wt_dict,
) = rbd_pc_b._summarize_bootstrapped_params()

In [8]:
rbd_pc_a_escape_dict["mean"]

     mutation epitope  site wildtype  mean
0       N331A       1   331        A   0.0
1       N331D       1   331        D   0.0
2       N331E       1   331        E   0.0
3       N331F       1   331        F   0.0
4       N331G       1   331        G   0.0
...       ...     ...   ...      ...   ...
5791    T531R       3   531        R   0.0
5792    T531S       3   531        S   0.0
5793    T531V       3   531        V   0.0
5794    T531W       3   531        W   0.0
5795    T531Y       3   531        Y   0.0

[5796 rows x 5 columns]

In [9]:
rbd_pc_b_escape_dict["mean"].tail()

     mutation epitope  site wildtype  median
5791    T531R       3   531        R     0.0
5792    T531S       3   531        S     0.0
5793    T531V       3   531        V     0.0
5794    T531W       3   531        W     0.0
5795    T531Y       3   531        Y     0.0